/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* main */
html {
  min-height: 100vh; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  /* text styles */
  /* font-family: ;
  font-size: ;
  line-height: ; 
  color: ;*/
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

body.active {
  overflow: hidden;
}

/* if this sections will position:relative */
/* section,
header,
main,
footer{
   position: relative;
   overflow: hidden;
} */
/* Grid styles */
.container {
  max-width: 1245px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* turn off yellow background for input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
}

body {
  background-color: black;
  font-family: "Inconsolata", monospace;
  color: #f0e3ca;
}

.hero {
  max-width: 449px;
}
.hero .main-title,
.hero .main-subtitle {
  margin-bottom: 16px;
}
@media (max-width: 443px) {
  .hero .main-title,
  .hero .main-subtitle {
    text-align: center;
  }
}

.hero__description {
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 660px) {
  .hero__description {
    font-size: 24px;
  }
}
@media (max-width: 443px) {
  .hero__description {
    font-size: 18px;
    text-align: center;
  }
}

.main-title {
  color: #ff00b0;
  font-size: 64px;
  font-weight: 900;
  text-transform: capitalize;
}
@media (max-width: 660px) {
  .main-title {
    font-size: 40px;
  }
}
@media (max-width: 443px) {
  .main-title {
    font-size: 32px;
  }
}

.main-subtitle {
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
}
@media (max-width: 660px) {
  .main-subtitle {
    font-size: 32px;
  }
}
@media (max-width: 443px) {
  .main-subtitle {
    font-size: 24px;
  }
}

.context-title {
  color: #ff00b0;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
}

.avatar {
  position: relative;
  height: 575px;
  max-width: 629px;
  width: 100%;
  background-image: url(../../img/pictures/bg-avatar-desk.png);
  background-repeat: no-repeat;
  overflow: hidden;
}
@media (max-width: 660px) {
  .avatar {
    background-image: url(../../img/pictures/bg-mobile.png);
    width: 413px;
    height: 430px;
  }
}
@media (max-width: 443px) {
  .avatar {
    width: 290px;
    height: 307px;
    background-size: contain;
  }
}

.avatar__copy-picture {
  position: absolute;
  height: 370px;
  width: 370px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 57% 43% 23% 77%/57% 42% 58% 43%;
}
@media (max-width: 443px) {
  .avatar__copy-picture {
    width: 230px;
    height: 230px;
  }
}

.avatar__copy-picture--img {
  overflow: hidden;
  z-index: 3;
}

.avatar__copy-picture--first {
  background-color: rgba(255, 0, 174, 0.6235294118);
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 2;
}

.avatar__copy-picture--second {
  background-color: rgba(240, 227, 202, 0.5764705882);
  transform: translate(-50%, -50%) rotate(-30deg);
  z-index: 1;
}

.burger {
  display: none;
  width: 48px;
  height: 48px;
}
@media (max-width: 580px) {
  .burger {
    display: block;
  }
}
.burger__line {
  display: block;
  width: 36px;
  height: 4px;
  background-color: #f0e3ca;
  position: relative;
  margin: 0 auto;
  transition: background-color 0.4s 0s;
}
.burger__line::before, .burger__line::after {
  content: "";
  display: block;
  width: 36px;
  height: 4px;
  background-color: #f0e3ca;
  position: absolute;
  transition: transform 0.3s, top 0.3s 0.3s;
}
.burger__line::before {
  top: -10px;
}
.burger__line::after {
  top: 10px;
}
.burger.active .burger__line {
  background-color: transparent !important;
}
.burger.active .burger__line::before {
  top: 0;
  transition: top 0.3s, transform 0.3s 0.3s;
  transform: rotate(45deg);
}
.burger.active .burger__line::after {
  top: 0;
  transition: top 0.3s, transform 0.3s 0.3s;
  transform: rotate(-45deg);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  background-color: rgba(27, 26, 23, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20.5px 0;
  max-width: 1200px;
  margin: 0 auto;
}
.header__content .logo {
  display: block;
  max-width: 146px;
  z-index: 1;
}
@media (max-width: 768px) {
  .header__content {
    flex-direction: column;
    row-gap: 21.7px;
  }
}
@media (max-width: 580px) {
  .header__content {
    flex-direction: row;
  }
}

@media (max-width: 580px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(27, 26, 23, 0.98);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: 0.5s;
  }
  .menu.open {
    transform: translateY(0);
  }
}

.menu__list {
  display: flex;
  gap: 64px;
}
@media (max-width: 580px) {
  .menu__list {
    flex-direction: column;
    text-align: center;
  }
}

.anchor-link {
  font-size: 20px;
  font-weight: bold;
  color: #f0e3ca;
  text-transform: capitalize;
}
@media (hover: hover) {
  .anchor-link:hover {
    color: #ff00b0;
  }
}

.welcome__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 78px 0 72.5px;
}
@media (max-width: 1150px) {
  .welcome__content {
    flex-direction: column;
    row-gap: 64px;
    padding: 128px 0;
  }
}
@media (max-width: 425px) {
  .welcome__content {
    padding: 120px 0 32px;
  }
}

.footer {
  padding: 64px 0;
}

.footer__content {
  display: flex;
  justify-content: center;
  gap: 64px;
}
.footer__content .logo {
  display: block;
  max-width: 165px;
  margin-bottom: 19.7px;
}
@media (max-width: 768px) {
  .footer__content .logo {
    margin: 0 auto 19.7px;
  }
}
.footer__content .context-title {
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }
  .footer__content .context-title {
    text-align: center;
  }
}

.invite-description {
  max-width: 213px;
  font-size: 20px;
}
@media (max-width: 768px) {
  .invite-description {
    max-width: 339px;
  }
}

.contacts-list {
  display: flex;
  gap: 48px;
}
@media (max-width: 425px) {
  .contacts-list {
    flex-direction: column;
    gap: 32px;
  }
}

.contacts-list__sublist-item:not(:last-child) {
  margin-bottom: 32px;
}

.contact-link {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
  color: #ff00b0;
}

.contact-link__icon {
  height: 32px;
  width: 32px;
}

.contact-link__title {
  font-size: 24px;
}

.aboute-me__content {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
  padding: 64px 0;
}
@media (max-width: 768px) {
  .aboute-me__content {
    flex-wrap: wrap;
  }
}
@media (max-width: 425px) {
  .aboute-me__content {
    padding: 32px 0 64px;
  }
}

.about-me__img {
  height: 100px;
  width: 100px;
}

.about-me__text {
  font-size: 24px;
  max-width: 904px;
}
@media (max-width: 443px) {
  .about-me__text {
    font-size: 18px;
  }
}

.skills {
  padding: 64px 0;
}

.skills__content .context-title {
  text-align: center;
  margin-bottom: 32px;
}

.list-cards {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 668px) {
  .list-cards {
    flex-direction: column;
    align-items: center;
  }
}

.card-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-color: #1f1e1b;
  padding: 61px 0 58px;
  border-radius: 10px;
  gap: 16px;
}
@media (max-width: 668px) {
  .card-skill {
    flex-direction: row;
    padding: 14px 32px;
    width: 285px;
  }
}
.card-skill--html .card-skill__icon, .card-skill--css .card-skill__icon {
  width: 114px;
  height: 128px;
}
@media (max-width: 668px) {
  .card-skill--html .card-skill__icon, .card-skill--css .card-skill__icon {
    width: 28px;
    height: 32px;
  }
}
.card-skill--js .card-skill__icon, .card-skill--scss .card-skill__icon, .card-skill--git .card-skill__icon {
  width: 128px;
  height: 128px;
}
@media (max-width: 668px) {
  .card-skill--js .card-skill__icon, .card-skill--scss .card-skill__icon, .card-skill--git .card-skill__icon {
    width: 32px;
    height: 32px;
  }
}
@media (hover: hover) {
  .card-skill--html:hover {
    color: #FC490B;
  }
  .card-skill--html:hover .card-skill__svg {
    fill: #FC490B;
  }
}
@media (hover: hover) {
  .card-skill--css:hover {
    color: #2196F4;
  }
  .card-skill--css:hover .card-skill__svg {
    fill: #2196F4;
  }
}
@media (hover: hover) {
  .card-skill--js:hover {
    color: #FFDF00;
  }
  .card-skill--js:hover .card-skill__svg {
    fill: #FFDF00;
  }
}
@media (hover: hover) {
  .card-skill--scss:hover {
    color: #CA669B;
  }
  .card-skill--scss:hover .card-skill__svg {
    fill: #CA669B;
  }
}
@media (hover: hover) {
  .card-skill--git:hover {
    color: #F25234;
  }
  .card-skill--git:hover .card-skill__svg {
    fill: #F25234;
  }
}

.card-skill__icon {
  display: inline-block;
}

.card-skill__svg {
  fill: #f0e3ca;
  transition: fill 0.5s;
}

.card-skill__title {
  font-size: 32px;
  font-weight: 400;
  font-family: "Arial Narrow", Arial, sans-serif;
  transition: color 0.5s;
}
@media (max-width: 668px) {
  .card-skill__title {
    font-size: 24px;
    font-weight: 500;
  }
}

.projects {
  padding: 64px 0;
}

.projects__content .context-title {
  text-align: center;
  margin-bottom: 32px;
}

.list-projects {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.project-card {
  position: relative;
  height: 320px;
  width: 320px;
  overflow: hidden;
}
.project-card:hover .project-card__info {
  transform: translateY(100%);
}
@media (max-width: 375px) {
  .project-card {
    width: 290px;
    height: 290px;
  }
}

.project-card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(33, 32, 29, 0.98);
  padding: 39.5px 0;
  position: absolute;
  width: 100%;
  top: -100%;
  transition: 0.5s;
}
@media (max-width: 375px) {
  .project-card__info {
    padding: 24.5px 0;
  }
}

.project-card__info-top {
  width: 200px;
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #ff00b0;
}
.project-card__info-top .context-title {
  margin-bottom: 16px;
}

.project-card__info-bottom {
  max-width: 219px;
  padding-top: 16px;
}

.project-card__info-description {
  margin-bottom: 16px;
}

.other-page-wrapper {
  text-align: center;
}

.other-page {
  display: inline-block;
  padding: 12px 20px;
  background-color: #1f1e1b;
  border-radius: 4px;
  color: #f0e3ca;
  font-size: 14px;
}/*# sourceMappingURL=main.css.map */