.about-me {
}
.aboute-me__content {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 32px;
    padding: 64px 0;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}
.about-me__img {
    height: 100px;
    width: 100px;
}
.about-me__text {
    font-size: 24px;
    max-width: 904px;
}