.footer {
    padding: 64px 0;
}
.footer__content {
    display: flex;
    justify-content: center;
    gap: 64px;

    .logo {
        display: block;
        max-width: 165px;
        margin-bottom: 19.7px;

        @media (max-width: 768px) {
            margin: 0 auto 19.7px;
        }
    }

    .context-title {
        margin-bottom: 16px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;

        .context-title {
            text-align: center;
        }
    }
}
.invite-description {
    max-width: 213px;
    font-size: 20px;

    @media (max-width: 768px) {
        max-width: 339px;
    }
}
.logo {
}
.invite-description__text{
}
.contacts {
}
.contacts-list {
    display: flex;
    gap: 48px;

    @media (max-width: 425px) {
        flex-direction: column;
        gap: 32px;
    }
}
.contacts-list__item {
}
.contacts-list__sublist {
}
.contacts-list__sublist-item {
    &:not(:last-child){
        margin-bottom: 32px;
    }
}
.contact-link {
    display: flex;
    column-gap: 16px;
    align-items: center;
    color: $base-color;
}
.contact-link__icon {
    height: 32px;
    width: 32px;
}
.contact-link__title {
    font-size: 24px;

    @media (max-width: 425px) {
        font-size: 18px;
    }
}