.projects {
    padding: 64px 0;
}
.projects__content {
    .context-title {
        text-align: center;
        margin-bottom: 32px;
    }
}

.list-projects {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}
.list-projects__item {
}
.project-card {
    position: relative;
    height: 320px;
    width: 320px;
    overflow: hidden;

    &:hover{
        .project-card__info{
            transform: translateY(100%);
        }
    }

    @media (max-width: 375px) {
        width: 290px;
        height: 290px;
    }
}
.project-card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(33, 32, 29, 0.98);
    padding: 39.5px 0;
    position: absolute;
    width: 100%;
    top: -100%;
    transition: 0.5s;

    @media (max-width: 375px) {
        padding: 24.5px 0;
    }
}
.project-card__info-top {
    width: 200px;
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 1px solid $base-color;

    .context-title {
        margin-bottom: 16px;
    }
}
.project-card__info-stack {
}
.project-card__info-bottom {
    max-width: 219px;
    padding-top: 16px;
}
.project-card__info-description {
    margin-bottom: 16px;
}
.other-page-wrapper {
    text-align: center;
}
.other-page {
    display: inline-block;
    padding: 12px 20px;
    background-color: $bg-card;
    border-radius: 4px;
    color: $text-color;
    font-size: 14px;
}