.skills {
    padding: 64px 0;
}
.skills__content {
    .context-title {
        text-align: center;
        margin-bottom: 32px;
    }
}
.list-cards {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 668px) {
        flex-direction: column;
        align-items: center;
    }
}
.list-cards__item {
}
.card-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background-color: $bg-card;
    padding: 61px 0 58px;
    border-radius: 10px;
    gap: 16px;

    @media (max-width: 668px) {
        flex-direction: row;
        padding: 14px 32px;
        width: 285px;
    }

    &--html, &--css {
        .card-skill__icon {
            width: 114px;
            height: 128px;

            @media (max-width: 668px) {
                width: 28px;
                height: 32px;
            }
        }
    }

    &--js, &--scss, &--git {
        .card-skill__icon {
            width: 128px;
            height: 128px;
            
            @media (max-width: 668px) {
                width: 32px;
                height: 32px;
            }
        }
    }

    &--html {
        @include change-icon-color($html-icon);
    }
    &--css {
        @include change-icon-color($css-icon);
    }
    &--js {
        @include change-icon-color($js-icon);
    }
    &--scss {
        @include change-icon-color($scss-icon);
    }
    &--git {
        @include change-icon-color($git-icon);
    }
}
.card-skill__icon {
    display: inline-block;
}
.card-skill__svg {
    fill: $card-icon-color;
    transition: fill 0.5s;
}
.card-skill__title {
    font-size: 32px;
    font-weight: 400;
    font-family: 'Arial Narrow', Arial, sans-serif;
    transition: color 0.5s;

    @media (max-width: 668px) {
        font-size: 24px;
        font-weight: 500;
    }
}