.reviews {
    padding: 64px 0;
}
.reviews__content {
    .context-title {
        text-align: center;
        margin-bottom: 32px;
    }
}
.slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.slider__arrow {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s;

    @media(hover:hover){
        &:hover{
            transform: translateY(-50%) scale(110%);
        }
    }
    @media (max-width: 768px) {
        display: none;
    }
}
.slider__arrow-prev {
    left: -70px;
}
.slider__content {
    overflow: hidden;
}
.slider__track {
    display: flex;
    gap: 10px;
    transition: transform 0.3s;
}
.slider__slide {
    height: 300px;
    min-width: 100%;
    background-color: aqua;
    user-select: none;
    border-radius: 10px;
}
.slider__arrow-next {
    right: -70px;
}
.slider__pagination {
    display: flex;
    gap: 13px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.slider__pagination-item {
    
}
.slider__controll-btn {
    height: 8px;
    width: 13px;
    background-color: #f0e3ca;
    border-radius: 4px;
    transition: transform 0.3s;

    @media(hover:hover){
        &:hover{
            transform: scaleX(150%);   
        }
    }

    &.btn-active {
        transform: scaleX(150%);
        background-color: $base-color;
    }
}