.avatar {
    position: relative;
    height: 575px;
    max-width: 629px;
    width: 100%;
    background-image: url(../img/pictures/bg-avatar-desk.png);
    background-repeat: no-repeat;
    overflow: hidden;

    @media (max-width: 660px) {
        background-image: url(../img/pictures/bg-mobile.png);
        width: 413px;
        height: 430px;
    }

    @media (max-width: 443px) {
        width: 290px;
        height: 307px;
        background-size: contain;
    }
}
.avatar__copy-picture {
    position: absolute;
    height: 370px;
    width: 370px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 57% 43% 23% 77% / 57% 42% 58% 43% ;

    @media (max-width: 443px) {
        width: 230px;
        height: 230px;
    }
}
.avatar__copy-picture--img {
    overflow: hidden;
    z-index: 3;
}
.avatar__copy-picture--first {
    background-color: $copy-first;
    transform: translate(-50%, -50%) rotate(45deg) ;
    z-index: 2;
}
.avatar__copy-picture--second {
    background-color: $copy-second;
    transform: translate(-50%, -50%) rotate(-30deg) ;
    z-index: 1;
}