$base-color: #ff00b0;
$bg-color: #1b1a17;
$bg-card: #1f1e1b;
$text-color: #f0e3ca;
$copy-first: #ff00ae9f;
$copy-second: #f0e3ca93;
$card-icon-color: #f0e3ca;
$html-icon: #FC490B;
$css-icon: #2196F4;
$js-icon: #FFDF00;
$scss-icon: #CA669B;
$git-icon: #F25234;
$html-text: #FC490B;
$css-text: #2196F4;
$js-text: #FFDF00;
$scss-text: #CA669B;
$git-text: #F25234;
$bg-header: #1b1a17e5;